<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewBox="0 0 256 256">
	<title>Wegeübergang</title>
	<defs>
		<style type="text/css">
		{% include './fonts/fonts.j2' %}
		</style>
	</defs>
	<circle cx="128" cy="128" r="100" stroke-width="8" stroke="#000000" fill="#FFFFFF" />
	<text style="font-family: 'Roboto Slab'; font-weight: bold; font-size: 130px; text-anchor: middle;" fill="#000000" x="128" y="168">H</text>
</svg>
